@charset "UTF-8";

body#x{
    background-color: lightgreen;
}

h1{
    text-align: center;
}

h1#h1dif{
    font-size: medium;
    margin-top: -550px;
    text-align: left;
    padding: 10px;
}

pre{
    text-align: center;
}

pre#two{
    margin-left: -150px;
}

a#one{
    padding: 60px;
    font: 25px normal;
    margin-left: 20px;
}

a{
    padding: 60px;
    font: 25px normal;
    margin-left: -100px;
}

div{
    text-align: left;
}

iframe{
    margin-right: 100px;
}

select{
    margin-right: 0px;
    margin-top: 0px;
    background-color: wheat;
}

input#votou{
    text-align: left;
}

video{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    padding: 20px;
    font: 25px normal;
}